/* Color Theme Swatches in Hex */
.night-in-th-moon-1-hex { color: #A39E9E; }
.night-in-th-moon-2-hex { color: #573030; }
.night-in-th-moon-3-hex { color: #333333; }
.night-in-th-moon-4-hex { color: #595555; }
.night-in-th-moon-5-hex { color: #0A0A0A; }

/* Color Theme Swatches in RGBA */
.night-in-th-moon-1-rgba { color: rgba(163, 158, 158, 1); }
.night-in-th-moon-2-rgba { color: rgba(86, 47, 47, 1); }
.night-in-th-moon-3-rgba { color: rgba(51, 51, 51, 1); }
.night-in-th-moon-4-rgba { color: rgba(89, 84, 84, 1); }
.night-in-th-moon-5-rgba { color: rgba(10, 10, 10, 1); }

/* Color Theme Swatches in HSLA */
.night-in-th-moon-1-hsla { color: hsla(0, 2, 62, 1); }
.night-in-th-moon-2-hsla { color: hsla(0, 28, 26, 1); }
.night-in-th-moon-3-hsla { color: hsla(0, 0, 20, 1); }
.night-in-th-moon-4-hsla { color: hsla(0, 2, 34, 1); }
.night-in-th-moon-5-hsla { color: hsla(0, 0, 3, 1); }

/*Box Sizing*/
html{
    box-sizing: border-box;

    box-sizing: inherit;
}

/*Utility classes*/

.container{
    max-width:80vw;
    margin:40px auto;
}

/* Global Styles */

body{
    background-color: #A39E9E;
    margin:0;
}

header.primary{
    background-color: #573030;
    color: #000008;
    /*text-shadow: 1px 1px #ffffff;*/
    text-align:center;
    /* T,R,B,L */
    padding: 20px 40px 20px 40px;

}

header.primary h1 {
    background-color: #333333;
    margin: 20px 0 0;
}

header.primary h1 a{
    color: #ffffff
    text-decoration:none;
}

header.primary h2{
    font-size: 1.4rem;
    margin:0;
}

header.primary nav{
    background-color: #0A0A0A;
    max-width: 1000px;
    margin: 20px auto;
}

header.primary nav ul{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    padding:0;
}

header.primary nav ul li{
    list-style-type:none;
}

header.primary nav ul li a {
    color:#000000;
    text-decoration: none;
    background-color: #595555;
    background-color: rgba(163, 158, 158, 1);
    padding: 5px 10px;
    border: 1px solid #c0c0c0;
    border-radius: 20px;
    /* opacity:.4;  */
    transition: .5s;
}

header.primary nav ul li a:hover{
    background-color: rgba(0,0,0, .8);
}

#intro{
    border-bottom: 1px dotted #0A0A0A;
    padding-bottom:14px
}

#intro h2{
    color:#0A0A0A;
    text-decoration:wavy;
}

#content{
    display:flex;
    flex-direction:row;
    gap:5%;
}

#content .post{
    box-shadow: 0 4px 8px rgba(0,0,0, .8);
    padding:10px;
    border-radius:4px;
    font-size:.8rem;
}

#content article.post:hover {
    box-shadow: 0 8px 16px rgba(0,0,0, .8);
}

article.post figure{
    margin:0;
}

article.post time.post-date, article.post figcaption, article.post .post-meta{
    text-transform: uppercase;
    color: #000;
}

article.post a{
    color:#333333;
}

article.post a:hover{
    text-decoration:none;
}

article.post img{
    border:1px solid #0A0A0A;
    padding:2px;
    margin:10px auto;
}

aside[role="complementary"]{
    background-color:#573030;
    color:#ffffff;
    padding: 1.9rem;
}

aside .container{
    display:flex;
    flex-direction:row;
    gap:40px;
}

/* Media Queries*/

@media screen and (max-width:600px){
    header.primary nav ul{
        flex-direction:column;
        max-width:250px;
        margin:auto;
        gap:10px
    }

    header.primary nav ul a{
        display:block;
    }
}